.manageh2{
    display: inherit;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 19px;
    color: #6a0000e6;
    margin-left: 20px;   
}
.btnBG{
    font-weight: bolder;
    font-size: 19px;
    color: #6a0000e6;
}
.btnBG.a.hover:{
  color: aqua;
  background-color: blue;
}